.container{
  width: 100%;
  height: 100vh;
  background-color: #3C424A;
  position: relative;
  overflow: hidden;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 600px){
  .content{
    grid-template-columns: 100%;
  }
}



